In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import requests
import json
from statistics import mean

In [2]:
df = pd.read_csv(
    '../data/project-sunroof-postal_code-12072018.csv', 
    dtype={'region_name': str}
)
df = df.rename(columns={'region_name': 'zip'})
dropped_labels = ['lat_max', 'lat_min', 'lng_max', 'lng_min', 'install_size_kw_buckets_json']
df = df.drop(labels=dropped_labels, axis=1)
display(df.shape)
display(df[:5])
display(df.describe())
display(df.columns.values)

(11438, 26)

,zip,state_name,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,number_of_panels_n,number_of_panels_s,...,kw_total,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,carbon_offset_metric_tons,existing_installs_count
0,01001,Massachusetts,42.067515,-72.622952,963.05,4579,97.221776,75.635943,7898,78527,...,103549.75,1.930724e+06,2.285122e+07,1.490899e+07,1.300299e+07,6.336049e+07,8745.289020,1.160544e+08,50250.431403,0
1,01002,Massachusetts,42.372545,-72.510396,962.20,1958,61.438582,65.682657,6934,44124,...,47308.50,1.710399e+06,1.292778e+07,6.432950e+06,7.145378e+06,2.436891e+07,9323.784473,5.258541e+07,22768.973989,0
2,01003,Massachusetts,42.395607,-72.520051,962.20,79,67.647059,85.869565,746,2556,...,8067.25,1.854609e+05,7.746877e+05,1.197883e+06,1.420250e+06,5.463777e+06,72169.838007,9.042059e+06,3915.123678,0
3,01007,Massachusetts,42.261784,-72.404075,962.20,3,0.057372,100.000000,0,202,...,52.50,0.000000e+00,5.915877e+04,0.000000e+00,1.958668e+03,0.000000e+00,26050.184497,6.111744e+04,26.463258,0
4,01013,Massachusetts,42.162355,-72.607535,963.05,5684,97.527201,82.352941,8789,84958,...,79910.50,2.158643e+06,2.511972e+07,1.355857e+07,1.182153e+07,3.740466e+07,8169.985010,9.006311e+07,38996.454311,10

,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,number_of_panels_n,number_of_panels_s,number_of_panels_e,number_of_panels_w,...,kw_total,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,carbon_offset_metric_tons,existing_installs_count
count,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000,...,11419.000000,1.143800e+04,1.143800e+04,1.143800e+04,1.143800e+04,1.143800e+04,1.141900e+04,1.141900e+04,11438.000000,11438.000000
mean,37.770414,-90.585689,1072.646022,4902.772425,79.507989,82.412171,22359.633677,84489.544239,55353.646704,66664.483913,...,99515.164091,6.465693e+06,2.884174e+07,1.704746e+07,2.087199e+07,5.485720e+07,2.716740e+04,1.282972e+08,68346.442873,59.052457
std,5.085697,16.069829,129.635359,4616.365495,30.295481,13.403991,32970.791881,88006.133659,60410.129954,73999.289399,...,97677.355546,1.000502e+07,3.188169e+07,1.967022e+07,2.462998e+07,6.650985e+07,1.236719e+05,1.323355e+08,72269.305688,169.734107
min,19.609050,-158.079487,687.650000,0.000000,0.007612,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.977280e+03,2.405863e+03,0.000000,0.000000
25%,33.988694,-97.151715,980.900000,733.000000,75.000000,75.009670,1730.000000,11514.750000,7423.500000,8259.250000,...,16670.625000,4.672812e+05,3.663390e+06,2.090266e+06,2.355233e+06,6.573613e+06,9.161646e+03,2.001854e+07,10620.057977,0.000000
50%,39.073658,-85.722971,1048.050000,3920.000000,95.543911,84.517970,8589.500000,59968.000000,36247.500000,42537.000000,...,72894.500000,2.332283e+06,1.898006e+07,1.053482e+07,1.244883e+07,3.379644e+07,1.264958e+04,8.934060e+07,45222.486066,6.000000
75%,41.388437,-78.714100,1135.600000,7768.750000,98.435653,92.463134,29246.250000,129599.750000,83410.250000,101529.250000,...,154821.375000,8.061611e+06,4.308140e+07,2.522044e+07,3.089331e+07,7.858214e+07,1.808884e+04,1.951908e+08,104065.222992,28.000000
max,64.895632,-68.234382,1437.350000,31973.000000,100.000000,100.000000,363833.000000,799219.000000,593805.000000,716810.000000,...,819897.500000,1.075469e+08,2.666224e+08,1.947404e+08,2.222418e+08,9.865223e+08,6.014657e+06,1.190968e+09,801735.949029,2692.000000

array(['zip', 'state_name', 'lat_avg', 'lng_avg',
       'yearly_sunlight_kwh_kw_threshold_avg', 'count_qualified',
       'percent_covered', 'percent_qualified', 'number_of_panels_n',
       'number_of_panels_s', 'number_of_panels_e', 'number_of_panels_w',
       'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'carbon_offset_metric_tons',
       'existing_installs_count'], dtype=object)

In [3]:
# compute median roof surface area (in m^2)
def calc_roof_surface_area(row):
    return row['number_of_panels_median'] * 1.65 * 0.992

df['roof_area_in_msq'] = df.apply(
    lambda row: calc_roof_surface_area(row),
    axis=1
)

display(df[:2])

,zip,state_name,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,number_of_panels_n,number_of_panels_s,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,carbon_offset_metric_tons,existing_installs_count,roof_area_in_msq
0,01001,Massachusetts,42.067515,-72.622952,963.05,4579,97.221776,75.635943,7898,78527,...,1.930724e+06,2.285122e+07,1.490899e+07,1.300299e+07,6.336049e+07,8745.289020,1.160544e+08,50250.431403,0,52.3776
1,01002,Massachusetts,42.372545,-72.510396,962.20,1958,61.438582,65.682657,6934,44124,...,1.710399e+06,1.292778e+07,6.432950e+06,7.145378e+06,2.436891e+07,9323.784473,5.258541e+07,22768.973989,0,55.6512

In [4]:
df.to_csv('../data/preprocessed_data.csv')

# Building and Merging Electricity Price Data

In [5]:
ioudf = pd.read_csv('../data/iouzipcodes2017.csv', dtype={'zip': str})
non_ioudf = pd.read_csv('../data/noniouzipcodes2017.csv', dtype={'zip': str})
display(ioudf[:2])
display(ioudf.shape)
display(non_ioudf[:2])
display(non_ioudf.shape)

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,85321,176,Ajo Improvement Co,AZ,Bundled,Investor Owned,0.102434,0.000000,0.112921
1,35218,195,Alabama Power Co,AL,Bundled,Investor Owned,0.121606,0.065089,0.133721

(52598, 9)

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,21824,84,A & N Electric Coop,MD,Bundled,Cooperative,0.115607,0.0,0.114949
1,21851,84,A & N Electric Coop,MD,Bundled,Cooperative,0.115607,0.0,0.114949

(34074, 9)

In [6]:
edf = pd.concat([ioudf, non_ioudf])
display(edf.shape)

(86672, 9)

In [7]:
def get_price_by_zip(df):
    """
    Return avg electricty price by zip code, in the form
    of a list of tuples. 
    """
    zip_prices = {} # zip_code: [price]
    for index, row in df.iterrows(): 
        zip_code = row['zip']
        if zip_code in zip_prices:
            zip_prices[zip_code].append(row['res_rate'])
        else:
            zip_prices[zip_code] = [row['res_rate']]
    
    return list(
        map(lambda x: (x[0], mean(x[1])), list(zip_prices.items()))
    )

price_by_zip = pd.DataFrame(
    get_price_by_zip(edf), 
    columns=['zip', 'avg_price_per_kwh']
)

result_df = pd.merge(
    df,
    price_by_zip,
    on='zip',
)

display(result_df[:5])

,zip,state_name,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,percent_covered,percent_qualified,number_of_panels_n,number_of_panels_s,...,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,carbon_offset_metric_tons,existing_installs_count,roof_area_in_msq,avg_price_per_kwh
0,01001,Massachusetts,42.067515,-72.622952,963.05,4579,97.221776,75.635943,7898,78527,...,2.285122e+07,1.490899e+07,1.300299e+07,6.336049e+07,8745.289020,1.160544e+08,50250.431403,0,52.3776,0.145519
1,01002,Massachusetts,42.372545,-72.510396,962.20,1958,61.438582,65.682657,6934,44124,...,1.292778e+07,6.432950e+06,7.145378e+06,2.436891e+07,9323.784473,5.258541e+07,22768.973989,0,55.6512,0.145207
2,01003,Massachusetts,42.395607,-72.520051,962.20,79,67.647059,85.869565,746,2556,...,7.746877e+05,1.197883e+06,1.420250e+06,5.463777e+06,72169.838007,9.042059e+06,3915.123678,0,419.0208,0.145519
3,01007,Massachusetts,42.261784,-72.404075,962.20,3,0.057372,100.000000,0,202,...,5.915877e+04,0.000000e+00,1.958668e+03,0.000000e+00,26050.184497,6.111744e+04,26.463258,0,137.4912,0.151554
4,01013,Massachusetts,42.162355,-72.607535,963.05,5684,97.527201,82.352941,8789,84958,...,2.511972e+07,1.355857e+07,1.182153e+07,3.740466e+07,8169.985010,9.006311e+07,38996.454311,10,47.4672,0.134873

In [8]:
display(result_df.shape)
df.to_csv('../data/preprocessed_data.csv')

(11053, 28)

# Get & Merge Solar Intensity Data